.ftpignore
.ftpconfig
.vscode

# Byte-compiled / optimized / DLL files
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class
*.swp

datasets/*
!datasets/.gitkeep
**/exprs_map/
map_nav_src/models/lavis/output
map_nav_src/models/data
!map_nav_src/models/data/.gitkeep
map_nav_src/wandb/
Matterport3DSimulator/
*.pth
*.pt
*.ckpt
.nfs*
